* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  cursor: default;
  color: #000;
  background-color: slategray;
}

.bg-img {
  background-image: url(1088031.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -9999;
}

.holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content {
  width: 60%;
  margin-top: 4em;
  margin-bottom: 4em;
  background-color: rgba(112, 128, 144, 0.5);
  padding: 4em;
  border-radius: 3em;
}

a {
  text-decoration: none;
  color: #dd6819;
}

a:hover {
  text-decoration: underline;
}

.page-title h1 {
  font-family: "Century Gothic", "Lucida Grande", Arial, sans-serif;
  font-size: 450%;
}

.project-title h1 {
  font-family: "Century Gothic", "Lucida Grande", Arial, sans-serif;
  font-size: 275%;
  color: rgb(161, 161, 161);
}

.content h2 {
  color: white;
}

.content h2 i {
  font-size: 85%;
  font-weight: lighter;
}

@media only screen and (max-width: 1000px) {
  html,
  body {
    scroll-behavior: smooth;
  }

  .content {
    margin-top: 2em;
    width: calc(90% - 4.5em);
    padding: 3em;
  }

  .page-title h1 {
    font-size: 300%;
  }

  .project-title h1 {
    font-size: 145%;
  }

  .content h2 i {
    font-size: 85%;
  }

  .content h2 {
    font-size: 100%;
  }

  a {
    text-decoration: underline;
  }
}

/* FOOTER */

.row.footer {
  flex-grow: 1;
  flex-basis: fit-content;
  /* background: #11161b; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.footer-social-icons {
  width: fit-content;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-icon {
  color: #e4e7eb;
  margin-left: 2.5px;
  margin-right: 2.5px;
  background-color: #38434d;
  padding: 0px;
  border-radius: 3px;
}

#icon {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 3px;
}

.social-icons a {
  color: #e4e7eb;
  text-decoration: none;
}

.fa-instagram:hover {
  color: #fff;
  vertical-align: middle;
  background-color: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.fa-twitter:hover {
  background-color: #00aced;
}

.fa-youtube:hover {
  color: #e92323;
  background-color: #11161b;
}

.fa-github:hover {
  color: #803fe2;
  background-color: #11161b;
}

.fa-apple:hover {
  background-color: #7d7d7d;
}

.fa-stack-overflow:hover {
  background-color: #ff9900;
}

.ai-google-scholar-square:hover {
  background-color: #4285f4;
}

.fa-soundcloud:hover {
  color: #fff;
  vertical-align: middle;
  background-color: #d6249f;
  background: linear-gradient(#ff7700, #ff3801);
}

.fa-envelope:hover {
  color: rgb(206, 92, 26);
  background-color: #11161b;
}

.fa-spotify:hover {
  color: #18d359;
  background-color: #11161b;
}

.fa-reddit:hover {
  background-color: #ff5700;
}

.fa-medium:hover {
  color: #00ab6c;
  background-color: #11161b;
}

.fa-meetup:hover {
  background-color: #ed1c40;
}

.fa-telegram:hover {
  background-color: #0088cc;
}
.fa-linkedin:hover {
  color: #0e8ccf;
  background-color: #11161b;
}